<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bghost1.png</key>
			<dict>
				<key>frame</key>
				<string>{{15,90},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>bghost2.png</key>
			<dict>
				<key>frame</key>
				<string>{{15,75},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>bghost3.png</key>
			<dict>
				<key>frame</key>
				<string>{{15,60},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>bghost4.png</key>
			<dict>
				<key>frame</key>
				<string>{{15,45},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>bghost5.png</key>
			<dict>
				<key>frame</key>
				<string>{{15,30},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>bghost6.png</key>
			<dict>
				<key>frame</key>
				<string>{{15,15},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>bghost7.png</key>
			<dict>
				<key>frame</key>
				<string>{{15,0},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>bghost8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,105},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>fruit.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,74},{11,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{11,12}}</string>
				<key>sourceSize</key>
				<string>{11,12}</string>
			</dict>

			<key>oghost1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,75},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>oghost2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,60},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>oghost3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,45},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>oghost4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,30},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>oghost5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,15},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>oghost6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>oghost7.png</key>
			<dict>
				<key>frame</key>
				<string>{{30,60},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>oghost8.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,60},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>pac_down1.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,36},{13,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{13,9}}</string>
				<key>sourceSize</key>
				<string>{13,9}</string>
			</dict>

			<key>pac_down2.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,23},{13,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{13,12}}</string>
				<key>sourceSize</key>
				<string>{13,12}</string>
			</dict>

			<key>pac_left1.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,87},{9,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{9,13}}</string>
				<key>sourceSize</key>
				<string>{9,13}</string>
			</dict>

			<key>pac_left2.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,46},{12,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{12,13}}</string>
				<key>sourceSize</key>
				<string>{12,13}</string>
			</dict>

			<key>pac_right1.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,101},{9,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{9,13}}</string>
				<key>sourceSize</key>
				<string>{9,13}</string>
			</dict>

			<key>pac_right2.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,60},{12,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{12,13}}</string>
				<key>sourceSize</key>
				<string>{12,13}</string>
			</dict>

			<key>pac_up1.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,13},{13,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{13,9}}</string>
				<key>sourceSize</key>
				<string>{13,9}</string>
			</dict>

			<key>pac_up2.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,0},{13,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{13,12}}</string>
				<key>sourceSize</key>
				<string>{13,12}</string>
			</dict>

			<key>pghost1.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,90},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>pghost2.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,75},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>pghost3.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,105},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>pghost4.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,45},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>pghost5.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,30},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>pghost6.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,15},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>pghost7.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,0},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>pghost8.png</key>
			<dict>
				<key>frame</key>
				<string>{{30,105},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>rghost1.png</key>
			<dict>
				<key>frame</key>
				<string>{{30,90},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>rghost2.png</key>
			<dict>
				<key>frame</key>
				<string>{{30,75},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>rghost3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,90},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>rghost4.png</key>
			<dict>
				<key>frame</key>
				<string>{{30,45},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>rghost5.png</key>
			<dict>
				<key>frame</key>
				<string>{{30,30},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>rghost6.png</key>
			<dict>
				<key>frame</key>
				<string>{{30,15},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>rghost7.png</key>
			<dict>
				<key>frame</key>
				<string>{{30,0},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>rghost8.png</key>
			<dict>
				<key>frame</key>
				<string>{{15,105},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{128,128}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>