<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>CloseNormal.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>

			<key>CloseSelected.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,41},{37,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{37,37}}</string>
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>

			<key>bghost1.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,90},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>bghost2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,109},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>bghost3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,94},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>bghost4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,79},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>bghost5.png</key>
			<dict>
				<key>frame</key>
				<string>{{15,79},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>bghost6.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,45},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>bghost7.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,30},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>bghost8.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,101},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>fruit.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,70},{11,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{11,12}}</string>
				<key>sourceSize</key>
				<string>{11,12}</string>
			</dict>

			<key>oghost1.png</key>
			<dict>
				<key>frame</key>
				<string>{{41,0},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>oghost2.png</key>
			<dict>
				<key>frame</key>
				<string>{{38,56},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>oghost3.png</key>
			<dict>
				<key>frame</key>
				<string>{{38,41},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>oghost4.png</key>
			<dict>
				<key>frame</key>
				<string>{{30,109},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>oghost5.png</key>
			<dict>
				<key>frame</key>
				<string>{{30,94},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>oghost6.png</key>
			<dict>
				<key>frame</key>
				<string>{{30,79},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>oghost7.png</key>
			<dict>
				<key>frame</key>
				<string>{{15,109},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>oghost8.png</key>
			<dict>
				<key>frame</key>
				<string>{{15,94},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>pac-down1.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,116},{13,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{13,9}}</string>
				<key>sourceSize</key>
				<string>{13,9}</string>
			</dict>

			<key>pac-left2.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,10},{12,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{12,13}}</string>
				<key>sourceSize</key>
				<string>{12,13}</string>
			</dict>

			<key>pac-up1.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,0},{13,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{13,9}}</string>
				<key>sourceSize</key>
				<string>{13,9}</string>
			</dict>

			<key>pac-up2.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,30},{13,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{13,12}}</string>
				<key>sourceSize</key>
				<string>{13,12}</string>
			</dict>

			<key>pac_down2.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,43},{13,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{13,12}}</string>
				<key>sourceSize</key>
				<string>{13,12}</string>
			</dict>

			<key>pac_left1.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,83},{9,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{9,13}}</string>
				<key>sourceSize</key>
				<string>{9,13}</string>
			</dict>

			<key>pac_right1.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,97},{9,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{9,13}}</string>
				<key>sourceSize</key>
				<string>{9,13}</string>
			</dict>

			<key>pac_right2.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,56},{12,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{12,13}}</string>
				<key>sourceSize</key>
				<string>{12,13}</string>
			</dict>

			<key>pghost1.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,60},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>pghost2.png</key>
			<dict>
				<key>frame</key>
				<string>{{41,15},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>pghost3.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,71},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>pghost4.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,86},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>pghost5.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,0},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>pghost6.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,105},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>pghost7.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,90},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>pghost8.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,60},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>rghost1.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,75},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>rghost2.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,15},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>rghost3.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,30},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>rghost4.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,75},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>rghost5.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,0},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>rghost6.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,45},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>rghost7.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,15},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>rghost8.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,105},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{128,128}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>